  <head>

    <style>

    img{
    display: block;
      width:200px;
      height: auto;
    }

  html, body, header, nav, ul, li, h2, a,form{
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;
  vertical-align: baseline;
  }

  .group:after{
    content: "";
    display: block;
    clear: both;
  }

  body{
    background: rgb(202, 227, 221);
    display: block;
    font-family: sans-serif;
    color: black;
    padding: 20px;
    size: 20px;

  }

  header{
    display: block;
    margin: auto;
    width: 700px;
  border: 1px solid black;
  padding: 20px;
  background: rgb(233, 235, 235);
  }

  header > ul{
    float left
  }
  header > ul > li{
    float: right;
  }

  a{
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
  display: block;
  padding: 20px;
  }

  li{
    list-style:none;
  }

  a:hover{
    color: black;
    text-decoration: underline;
  }

  a.in-words{
    display: inline-block;
    padding: 0;
  }

  main{
    width:700px;
    height: 550px;
  border: 1px solid black;
  margin:auto;
  padding: 20px;
  border-bottom: 0;
  border-top: 0;
  background: rgb(235, 227, 227);
  }

  footer{
    width: 700px;
    height: 50px;
    border: 1px solid black;
  margin: auto;
  padding: 20px;
  background: rgb(233, 235, 235);
  }

  h1{
    text-align: center;
  }

  p > ul{
    float: right;
  }

  p> ul> li{
    margin:20px;
  font-size: 16px;
  }

  img{
    float: left;

  }



 div.joke >  p.fun{
    font-size:28;
    font-weight: bold;
  text-align: right;
  margin-top:50px;
  }

  img.awesome{
    width: 100px;
    height: auto;
  float: right;
  margin-top: 30px;
  }

  div.joke{
    display: block;
  width:300px;
  margin-left:50px;
  margin-right:50px;
  float:right;
  }

  strong{
    font-weight:bold;

  }


    </style>
</head>

  <body>
  <header class= "group">
    <ul class="group">
    <li><a href="./Copyofresume.pdf">Resume</a></li>
    <li><a href="mailto:greekyogurtgirl@gmail.com">Email</a></li>
    <li><a href="https://github.com/geekygirl76">Github</a></li>
    <li><a href="https://www.linkedin.com/pub/ling-rosenstein/9b/19/639">LinkedIn</a></li>
  </ul>
  </header>
  <main>
  <h1>Hello! I am Ling</h1>
<p >
  <ul class="group">
    <li>
  I have been interested in computer science since high school, but my parents sent me to college to study business. After a 20 year detour, and with my husband's encouragement, I picked up my dream again.
  </li>
  <br>
 <li>
  I learned coding through <strong>Coursera, MIT OpenCourseWare, edX, Stanford Engineering Everywhere</strong>, etc. And I honed my skills by solving math problems at <strong>Project Euler</strong> and other coding competition websites. Recently I also learned web development and built my first full stack app.
  </li>







</ul>
</p>

  <figure>
   <img src="<%= asset_path 'ling.jpg' %>">
  </figure>
<div class="joke group">
   <p class="fun">
     I love coding and want to become a software engineer. Nothing is better than getting paid to enjoy your hobby.
  </p>
  <figure class="awesome">
   <img class="awesome" src="<%= asset_path 'awesome.jpeg' %>">
  </figure>
 </div>
  </main>










  <footer>
    I love to use <a class="in-words" href="http://www.ilovediy.ninja">Ruby</a>, <a class="in-words"  href="https://github.com/geekygirl76/Math">Python</a> and <a class="in-words"  href="http://geekygirl76.github.io/StarTrek/">Javascript</a> to do fun things.
  </footer>

  </body>


