  <head>

    <style>

    html, body, header, nav,div, h1,figure,img, ul, li, h2, a,form{
      margin: 0;
      border: 0;
      padding: 0;
      font: inherit;
    vertical-align: baseline;
    }

    .group:after{
      content: "";
      display: block;
      clear: both;
    }

    #page_one{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
    }

    #page_two{
         position: absolute;
         left:0;
         top:-100%;
         width: 100%;
         height: 100%;
    }

    #page_three{
         position: absolute;
         left: 0;
         top: -200%;
         width: 100%;
         height: 100%;
    }

    #page_four{
         position: absolute;
         left: 0;
         top: -300%;
         width: 100%;
         height: 100%;
    }



    </style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>

    </script>
</head>

  <body>

<div id="page_four">

  <header class= "group">
    <ul class="group">
    <li><a href="./resume.pdf">Resume</a></li>
    <li><a href="mailto:greekyogurtgirl@gmail.com">Email</a></li>
    <li><a href="https://github.com/geekygirl76">Github</a></li>
    <li><a href="https://www.linkedin.com/pub/ling-rosenstein/9b/19/639">LinkedIn</a></li>
  </ul>
  </header>
  <main>
  <h1>Hello! I am Ling</h1>
<p >
  <ul class="group">
    <li>
  I have been interested in computer science since high school, but my parents sent me to college to study business. After a 20 year detour, and with my husband's encouragement, I picked up my dream again.
  </li>
  <br>
 <li>
  I learned coding through <strong>Coursera, MIT OpenCourseWare, edX, Stanford Engineering Everywhere</strong>, etc. And I honed my skills by solving math problems at <strong>Project Euler</strong> and other coding competition websites. Recently I also learned web development and built my first full stack app.
  </li>


</ul>
</p>


<div class="joke group">
   <p class="fun">
     I love coding and want to become a software engineer. Nothing is better than getting paid to enjoy your hobby.
  </p>

 </div>
  </main>

  <footer>
    I love to use <a class="in-words" href="http://www.ilovediy.ninja">Ruby</a>, <a class="in-words"  href="https://github.com/geekygirl76/Math">Python</a> and <a class="in-words"  href="http://geekygirl76.github.io/StarTrek/">Javascript</a> to do fun things.
  </footer>
</div>

<div id="page_three">
    <figure class="digital">
     <img class="digital_img" src="<%= asset_path 'born_to_code.jpg' %>">
    </figure>
    <h2>And I, was born to code</h2>
</div>

<div id="page_two">
    <figure class="digital">
     <img class="digital_img" src="<%= asset_path 'www.jpg' %>">
    </figure>
    <h2>World Wide Web connects us together</h2>
</div>

<div id="page_one">
    <figure class="digital">
     <img class="digital_img" src="<%= asset_path 'digital.jpg' %>">
    </figure>
    <h2>We live in a digital world</h2>
</div>
  </body>


