<head>
  <style>
  li{
    list-style: none;
  }

  a{
    text-decoration: underline;
    color: blue;
  }

  a:hover{
    cursor: pointer;
  }

  .group{
    display: block;
    clear: both;
    margin: 20px;
  }

  li{
    padding: 5px;
  }

  header{
    text-decoration: underline;
  }





  h1{
    font-weight: bold;
  color: darkgrey;
  text-align: center;
  }

  h2{
    color: green;

  }

  footer >ul{
    float: left;
  }

  footer > ul > li{
    float: right;
  }



  </style>
</head>
<body>
<header>
<h1>Ling Rosenstein</h1>
</header>

<main>
<ul class="group">
  <ul class="group">
  <li>
  <h2>Programming Languages and Skills</h2>
    <li>Ruby, Python, Algorithm, Ruby on Rails, Javascript, jQuery, Backbone.js, SQL, RSpec, Git, HTML, CSS</li>
  </li>
  </ul>

  <ul class="group"><h2>Education</h2>

    <li>Augutst 2007:   MA, University of Virginia, VA, Sociology.</li>

    <li>August 2006:    Admitted as a PhD student, University of Virginia, Charlottesville, VA, Sociology.</li>

    <li>2001-2004:   MA, Fujian Normal University, China, English Literature.</li>

    <li>1995-1999:   BA, Jiangxi University of Finance and Economics, China,          International Business.</li>

  </ul>

  <ul class="group"><h2>Awards</h2>

     <li>2006:   Fellowship, University of Virginia</li>

     <li>2006-2007:  Graduate Teaching Assistantship, University of Virginia</li>

   <li> 1993: First Place in National English Contest in China</li>

     <li>1991:   Among Top 100 Finalists in China in International Mathematical Olympiad</li>

  </ul>

  <ul class="group"><h2>Working Experience</h2>
     <li>2007-2014:  Editor, SingTao News Corporation, New York, NY</li>
  </ul>

  <ul class="group"><h2>Course Highlights</h2>

    <li>Algorithms: Design and Analysis</li>

    <li>Coding the Matrix: Linear Algebra through Computer Science Applications (Python)</li>

    <li>Discrete Mathematics</li>

  </ul>

  <ul class="group">

    <h2> Recent Projects</h2>

    <li><a href="http://www.ilovediy.ninja">live</a>  <a href="https://github.com/geekygirl76/I-Love-DIY">github</a>
     ilovediy: Ruby on Rails and Javascript.
               A clone of instructables.com. This app provides people an interface to share DIY experiences.</li>

     <li><a href="http://geekygirl76.github.io/StarTrek/">live</a>  <a href="https://github.com/geekygirl76/StarTrek">github</a>    StarTrek: Javascript.
                 A classic video game to allow you to fire bullets to kill asteroids.</li>

      <li>   <a href="https://github.com/geekygirl76/Math">github</a>    Project Euler: Mathematics Coding, Python.
               Fun time! I enjoy solving mathematical problems with efficient algorithms.
     </li>

  </ul>


</ul>
</main>

  <footer>
    <ul class="group">
    <li>530 Holly Court, Mahwah, NJ 07430</li>
    <li>Phone: (917) 396- 8583</li>
    <li>Email: <a href="mailto:greekyogurtgirl@gmail.com">greekyogurtgirl@gmail.com</a></li>
    <li>My Website</li>
    <li><a href="https://github.com/geekygirl76">Github</a></li>
    <li><a href="https://www.linkedin.com/pub/ling-rosenstein/9b/19/639">LinkedIn</a></li>
  </ul>
  </footer>
</body>