h2{
    top: 60%;
    color: black;
}

header{
    top:5%;
    margin-left:-30%;
}

header h1{
    font-size:15px;
}

h3{
    font-size:12px;
}

.links > li{
    padding: 5px;
}

.project-button{
    margin-top:5px;
}