<!DOCTYPE html>
<html>
<head>
  <title>PersonalSite</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <head>

  </head>
  <body>
  <header>
    <a href="#">Resume</a>
    <a href="mailto:greekyogurtgirl@gmail.com">Email</a>
    <a href="https://github.com/geekygirl76">Github</a>
    <a href="https://www.linkedin.com/pub/ling-rosenstein/9b/19/639">LinkedIn</a>
  </header>
  <main>
  <h1>Hello! I am Ling!</h1>

  I love coding! I love to know that I can make things which benefit lots of people and which is a kind of rare skill. My dream is that one day half of the people in this world are playing my app or that people are using my algorithms 50 years after I die.

  Yeah I know very likely I will never reach those goals in my lifetime, but with ambitious goals, I will surely work hard so that I know everyday I am one step closer to my goal!

  <p>
    I love to use <a href="http://www.ilovediy.ninja">Ruby</a>, <a href="https://github.com/geekygirl76/Math">Python</a> and <a href="#">Javascript</a> to do fun things!
  </p>

  <figure>

  </figure>

  </main>
  </body>

<%= yield %>

</body>
</html>
